<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">

<listeners>
	<listener class-name="src.test.java.listener.Listener"/>
</listeners>

   <test name="Launch Chrome">
      <classes>
         <class name="browsers.ChromeTest"/>
      </classes>
   </test>
   
      <test name="Launch Firefox">
      <classes>
         <class name="browsers.FireFoxTest"/>
      </classes>
   </test>
</suite>